<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h2>About page</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nostrum sed
      nam aliquam ipsa officiis, repudiandae, suscipit iure ut libero
      consequatur architecto, maiores tempora? Quam.
    </p>
    <%- include('../partials/footer.ejs') %> 
  </body>
</html>
