<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %> 
    <h4>error ......</h4>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>